body {
    margin: 0px;
    background-image: url(images/DrSeuss2.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: 10%;
    overflow-x: hidden;
}

div.Img {
    width: auto;
    height: auto;
    display: block;
    text-align: center;
    box-sizing: content-box;
    position: absolute;
    margin-left: 10%;
}

div.text {
    width: 80%;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    border-style: solid;
    border-width: 3px;
    margin-left: 15%;
    margin-right: 5%;
    border-radius: 50px;
    margin-bottom: 50px;
}

div.bigB {
    padding-top: 50px;
    padding-bottom: 200px;
    position: static;
    color: rgba(0, 0, 0, 0);
}


ul.menu {
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100%; 
    display: inline-block;
    list-style-type: none;
    position: absolute;
    position: fixed;
    padding-bottom: 100%;
    border-right-style: solid;
    border-width: 3px;
    background-color: blue;
}
li.menu_list {
    margin: 0;
    padding: 0;
    height: 125px;
    width: 100%;
    position: relative;
    font-family: 'grinched_2.0regular';
}
li.menu_list .front,
a.side {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
}
li.menu_list .front {
    margin: 0;
    padding: 0;
    background-color: blue;
    color: #FFFFFF;
    transform-origin: 0 0;
}
a.side {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: rgba(0, 0, 255, 0.65);
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
}
li.menu_list:hover a.side {
    transform: rotateY(0deg);
}
li.menu_list:hover .front {
    transform: rotateY(90deg);
}

p {
    color: black;
    padding: 50px;
    text-align: center;
    position: static;
    font-size: 20px;
    font-family: 'grinched_2.0regular';
}
h1 {
    font-size: 100px;
    color: Black;
    font-family: arial, helvetica, san-serif;
    text-align: center;
    padding-top: 10px;
}

h2 {
    font-size: 60px;
    color: black;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    font-family: 'grinched_2.0regular',arial, helvetica, san-serif;;
}

h3 {
    color: black;
    text-align: center;
    font-size: 30px;
}

img.IDcard {
    border-radius: 20px;
    border-style: solid;
    border-color:black;
    border-width: 3px;
    margin: 2%;
    width: 40%;
    height: auto;
}
img.banner {
    width: 45%;
    height: 45%;
    padding-bottom: 10px;
}

@font-face {
    font-family: 'grinched_2.0regular';
    src: url('grinched_2.0-webfont.woff2') format('woff2'),
         url('grinched_2.0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* Dropdown Button */
button.dropbtn {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 10px 75%;
  font-size: 30px;
  border-width: 3px;
  border-color: black;
  border-radius: 50px;
  font-family: 'grinched_2.0regular';
}

/* The container <div> - needed to position the dropdown content */
div.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 15%;
  font-family: 'grinched_2.0regular';
  width: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Dropdown Content (Hidden by Default) */
div.dropdown-content {
  display: none;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 50px;
  margin-top: 1px;
  padding: 50px;
  width: 485%;
}

/* Links inside the dropdown */
div.dropdown-content a {
  color: black;
  padding: 3px 0px;
  text-decoration: none;
  display: inline-block;
  width: 33%;
  transition: all .2s ease-in-out;
}

/* Change color of dropdown links on hover */
div.dropdown-content a:hover {
  color: blue;
  transform: translate(10px);

}

/* Show the dropdown menu on hover */
div.dropdown:hover div.dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
div.dropdown:hover button.dropbtn {
  background-color: blue;
  color: white;
}
/*///////////////////////////////////////*/
