body {

    margin: 0px;
    background-image: url(images/DrSeuss2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}
div {
    width: 100%;
    padding: 5px;
    height: auto;
    background: rgba(0, 0, 0, 0.52);
    margin: auto; 
    text-align: center;
    
}
div.Img{
    width: auto;
    height: auto;
    display:block;
    text-align: center;
    background: rgba(0, 0, 0, 0.0);
    box-sizing:content-box;
    position:absolute;
}
div.text{
    width:75%;
    height: auto;
    display:block;
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
    position:relative;
}
div.bigB {
    padding-top: 50px;
    padding-bottom:200px;
    background: rgba(0, 0, 0, 0.0);
    position:static;
    color:rgba(0, 0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul.menu {
    display: inline-block;
    list-style-type: none;
    position: absolute;
}
li.menu_list {
    height: 125px;
    width: 125px;
    position: relative;
}
li.menu_list .front,
a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
}
li.menu_list .front {
    background-color: rgba(0, 0, 255, 0.65);
    color: #FFFFFF;
    transform-origin: 0 0;
}
a.side {
    background-color: #FFFFFF;
    color: rgba(0, 0, 255, 0.65);
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
}
li.menu_list:hover a.side {
    transform: rotateY(0deg);
}
li.menu_list:hover .front {
    transform: rotateY(90deg);
}

p {
    color: white;
    padding-left:15%;
    padding-right:15%;
    text-align: center;
}
h1 {
    text-shadow: 2px 2px 5px cyan;
    font-size: 80px;
    color: white;
    font-family: arial, helvetica, san-serif;
    text-align: center;



}
h2 {
    text-shadow: 2px 2px 5px cyan;
    font-size: 40px;
    color: white;
    font-family: arial, helvetica, san-serif;
    margin: auto;
    text-align: center;


}

h3 {
    color: white;
    text-align: center;
}

img.banner{
    width:45%;
    height:45%;
    padding-bottom: 10px;
}
/*///////////////////////////////////////*/
